In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2020-11-23 21:33:00,-9.80,-139.03,77.97,75,4,13.87
1,1,Cape Town,ZA,2020-11-23 21:31:23,-33.93,18.42,61.00,87,75,13.87
2,2,Vaini,TO,2020-11-23 21:33:02,-21.20,-175.20,78.80,78,75,8.05
3,3,Mar Del Plata,AR,2020-11-23 21:31:28,-38.00,-57.56,68.00,82,75,13.87
4,4,Vaitape,PF,2020-11-23 21:42:32,-16.52,-151.75,81.88,75,67,9.42

In [3]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False,max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2020-11-23 21:33:00,-9.80,-139.03,77.97,75,4,13.87
2,2,Vaini,TO,2020-11-23 21:33:02,-21.20,-175.20,78.80,78,75,8.05
4,4,Vaitape,PF,2020-11-23 21:42:32,-16.52,-151.75,81.88,75,67,9.42
5,5,Bom Jesus,BR,2020-11-23 21:42:32,-9.07,-44.36,75.63,83,36,3.65
8,8,Kapaa,US,2020-11-23 21:32:49,22.08,-159.32,80.60,69,75,18.34
16,16,Hithadhoo,MV,2020-11-23 21:33:00,-0.60,73.08,81.68,76,100,10.69
22,22,Vila Velha,BR,2020-11-23 21:41:31,-20.33,-40.29,75.20,78,40,4.70
28,28,Sugod,PH,2020-11-23 21:42:35,12.99,124.08,79.95,81,100,17.81
37,37,Pedernales,DO,2020-11-23 21:42:36,18.04,-71.74,82.40,83,40,11.41
39,39,Kloulklubed,PW,2020-11-23 21:42:36,7.04,134.26,82.65,72,71,2.37

In [9]:
preferred_cities_df.count()

City_ID       155
City          155
Country       154
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [10]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
0        Atuona      PF     77.97  -9.80 -139.03
2         Vaini      TO     78.80 -21.20 -175.20
4       Vaitape      PF     81.88 -16.52 -151.75
5     Bom Jesus      BR     75.63  -9.07  -44.36
8         Kapaa      US     80.60  22.08 -159.32
16    Hithadhoo      MV     81.68  -0.60   73.08
22   Vila Velha      BR     75.20 -20.33  -40.29
28        Sugod      PH     79.95  12.99  124.08
37   Pedernales      DO     82.40  18.04  -71.74
39  Kloulklubed      PW     82.65   7.04  134.26

In [11]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,77.97,-9.80,-139.03,Villa Enata
2,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
4,Vaitape,PF,81.88,-16.52,-151.75,Conrad Bora Bora Nui
5,Bom Jesus,BR,75.63,-9.07,-44.36,Hotel Brasão & Floricultura Bella Flor
8,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
16,Hithadhoo,MV,81.68,-0.60,73.08,Scoop Guest House
22,Vila Velha,BR,75.20,-20.33,-40.29,Hotel Vitória Palace
28,Sugod,PH,79.95,12.99,124.08,Musngi Garage
37,Pedernales,DO,82.40,18.04,-71.74,Hotel Costa Marina
39,Kloulklubed,PW,82.65,7.04,134.26,Storyboard Beach Resort

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))