## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import challenge_g_key

# Configure gmaps
gmaps.configure(api_key=challenge_g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Bluff,NZ,60.01,clear sky,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
1,5,Castro,BR,63.59,heavy intensity rain,-24.79,-50.01,CHACARA BAILLY
2,6,Bilma,NE,66.58,clear sky,18.69,12.92,Expeditions Ténére voyages
3,14,Cascais,PT,57.99,light rain,38.70,-9.42,Hotel Vila Galé Cascais
4,15,Nueve De Julio,AR,66.99,clear sky,-35.44,-60.88,Grand Hotel Libertad - GHL

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
city = vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Mino']
vacation_end = vacation_df.loc[vacation_df['City']=='Mino']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Takayama']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Katsuura']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Shingu']

vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
67,339,Mino,JP,55.99,broken clouds,34.83,135.47,Senri Hankyu Hotel Osaka

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

print(start,end,stop1,stop2,stop3)

[[ 34.83 135.47]] [[ 34.83 135.47]] [[ 36.13 137.25]] [[ 35.13 140.3 ]] [[ 33.73 135.98]]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets
start = (34.83, 135.47)
end = (34.83, 135.47)
stop1 = (36.13, 137.25)
stop2 = (35.13, 140.3)
stop3 = (33.73, 135.98)

fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(start_to_end)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,339,Mino,JP,55.99,broken clouds,34.83,135.47,Senri Hankyu Hotel Osaka
1,339,Mino,JP,55.99,broken clouds,34.83,135.47,Senri Hankyu Hotel Osaka
2,359,Takayama,JP,55.00,broken clouds,36.13,137.25,Country Hotel Takayama
3,118,Katsuura,JP,57.99,broken clouds,35.13,140.30,Katsuura Hotel Mikazuki
4,408,Shingu,JP,55.40,broken clouds,33.73,135.98,Shingu UI Hotel

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}°F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
city = itinerary_df["City"]
fig = gmaps.figure(center=(35, 130.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))