## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import challenge_g_key

# Configure gmaps
gmaps.configure(api_key=challenge_g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Carnarvon,AU,69.80,clear sky,-24.87,113.63,Hospitality Carnarvon
1,18,Rikitea,PF,74.57,overcast clouds,-23.12,-134.97,Pension Maro'i
2,34,Mar Del Plata,AR,69.01,clear sky,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones
3,35,Yanam,IN,71.60,moderate rain,16.73,82.22,The Regency Hotel
4,39,Victoria,HK,73.99,clear sky,22.29,114.16,Mini Hotel Central

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
city = vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Mayo']
vacation_end = vacation_df.loc[vacation_df['City']=='Mayo']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Front Royal']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='High Point']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Hampton']

vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
75,411,Mayo,US,66.99,overcast clouds,38.89,-76.51,Resorts Resource Group International

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

print(start,end,stop1,stop2,stop3)

[[ 38.89 -76.51]] [[ 38.89 -76.51]] [[ 38.92 -78.19]] [[ 35.96 -80.01]] [[ 37.03 -76.35]]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets
start = (38.89, -76.51)
end = (38.89, -76.51)
stop1 = (38.92, -78.19)
stop2 = (35.96, -80.01)
stop3 = (37.03, -76.35)

fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(start_to_end)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,411,Mayo,US,66.99,overcast clouds,38.89,-76.51,Resorts Resource Group International
1,411,Mayo,US,66.99,overcast clouds,38.89,-76.51,Resorts Resource Group International
2,41,Front Royal,US,64.00,overcast clouds,38.92,-78.19,Hampton Inn Front Royal
3,696,High Point,US,61.00,light intensity drizzle,35.96,-80.01,Red Lion Hotel
4,519,Hampton,US,69.80,light intensity drizzle,37.03,-76.35,Embassy Suites by Hilton Hampton Convention Ce...

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
city = itinerary_df["City"]
fig = gmaps.figure(center=(38.0, -77.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))